<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Edit Book</h1>
    <form action="#" th:action="@{/books/{id}(id=${book.id})}" th:object="${book}" method="post">
      <div>
        <label for="title">タイトル：</label>
        <input type="text" id="title" th:field="*{title}" placeholder="タイトルを入力">
    </div>

    <!-- 著者表示 -->
    <div>
        <label for="author">著者：</label>
        <input type="text" id="author" th:field="*{author}" placeholder="著者を入力">
    </div>

    <!-- ISBN表示（あれば） -->
    <div>
        <label for="isbn">ISBN：</label>
        <input type="text" id="isbn" th:field="*{isbn}" placeholder="ISBNを入力">
    </div>
    <!-- Genre (ジャンル) -->
    <div>
        <label for="genre">ジャンル：</label>
        <input type="text" id="genre" th:field="*{genre}" placeholder="ジャンルを入力">
    </div>

    <!-- Memo (メモ) -->
    <div>
        <label for="memo">メモ：</label>
        <textarea id="memo" th:field="*{memo}" placeholder="メモを入力"></textarea>
    </div>

    <!-- 保存ボタン -->
    <button type="submit"></button>
    </form>
</div>
</body>
</html>
