<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Add New Book</h1>
<form th:action="@{${book.id} != null ? '/books/' + ${book.id} : '/books'}"
      th:object="${book}" method="post">
    <input type="text" th:field="*{title}" placeholder="タイトル">
    <input type="text" th:field="*{author}" placeholder="著者">
    <input type="text" th:field="*{genre}" placeholder="ジャンル">
    <textarea id="memo" th:field="*{memo}">メモ</textarea>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <button type="submit">保存</button>
</form>
</div>
</body>
</html>